* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: jua;
  src: url(/animation1/font/Jua/Jua-Regular.ttf);
}
@font-face {
  font-family: lato;
  src: url(/animation1/font/Lato/Lato-Black.ttf);
}
body {
  font-family: jua;
  font-size: 15px;
  background-image: url(/animation1/img/pexels-riciardus-789380.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}
.required {
  animation: invalid 5s ease-in-out;
}
@keyframes invalid {
  0% {
    border: 1px solid red;
  }
  100% {
    border: none;
  }
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: appear 1s ease-in-out;
  /*  transform: translateY(0) scaleY(1); */
}
/* @keyframes appear {
  0% {
    transform: translateY(-100%) ;
  }
  100% {
    transform: translateY(0) ;
  }
} */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.header-container-2 {
  display: flex;
  background-color: darkgrey;
  border-radius: 5px;
}
.click-fromRight {
  animation: from-right 0.5s ease-in-out;
  transform: translateX(107px);
}
@keyframes from-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(107px);
  }
}
.click-fromLeft {
  animation: from-left 0.7s ease-in-out;
  transform: translateX(0);
}
@keyframes from-left {
  0% {
    transform: translateX(107px);
  }
  100% {
    transform: translateX(0);
  }
}
#animation-box {
  position: absolute;
  height: 34px;
  width: 110px;
  border-radius: 5px;
  background-color: gray;
}
.header {
  font-family: lato;
  font-size: 20px;
  width: 100px;
  font-weight: 600px;
  padding: 5px 4px;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  /*   position: relative; */
  background-color: transparent;
  cursor: pointer;
  z-index: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.container {
  padding: 20px 50px;
}
.input-container {
  padding: px;
  margin-top: 10px;
}
.input,
.sign-up-input {
  padding: 10px 15px;
  width: 200px;
  border-radius: 7px;
  background-color: darkgrey;
}
#Username,
#password {
  border: none;
}
input:invalid + div {
  display: none;
}
input:focus {
  outline: none;
}
.forgotten {
  margin-top: 17px;
  display: flex;
  margin-left: 10px;
}
a {
  font-family: sans-serif;
  color: rgb(255, 0, 0);
}
.btn {
  padding: 10px 15px;
  width: 100%;
  border: none;
  background-color: darkgrey;
  margin-top: 5px;
}
